<h1>Listing braid_configs</h1>

<table>
  <thead>
    <tr>
      <th>Braider</th>
      <th>Pinion teeth</th>
      <th>Gear teeth</th>
      <th>Inches per minute</th>
      <th>Feet per hour</th>
      <th>Picks per inch</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @braid_configs.each do |braid_config| %>
      <tr>
        <td><%= braid_config.braider_id %></td>
        <td><%= braid_config.pinion_teeth %></td>
        <td><%= braid_config.gear_teeth %></td>
        <td><%= braid_config.inches_per_minute %></td>
        <td><%= braid_config.feet_per_hour %></td>
        <td><%= braid_config.picks_per_inch %></td>
        <td><%= link_to 'Show', braid_config %></td>
        <td><%= link_to 'Edit', edit_braid_config_path(braid_config) %></td>
        <td><%= link_to 'Destroy', braid_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Braid config', new_braid_config_path %>
