<p id="notice"><%= notice %></p>

<p>
  <strong>Braider:</strong>
  <%= @braid_config.braider_id %>
</p>

<p>
  <strong>Pinion teeth:</strong>
  <%= @braid_config.pinion_teeth %>
</p>

<p>
  <strong>Gear teeth:</strong>
  <%= @braid_config.gear_teeth %>
</p>

<p>
  <strong>Inches per minute:</strong>
  <%= @braid_config.inches_per_minute %>
</p>

<p>
  <strong>Feet per hour:</strong>
  <%= @braid_config.feet_per_hour %>
</p>

<p>
  <strong>Picks per inch:</strong>
  <%= @braid_config.picks_per_inch %>
</p>

<%= link_to 'Edit', edit_braid_config_path(@braid_config) %> |
<%= link_to 'Back', braid_configs_path %>
